.dashboard {
  padding: 0 44px;
}

.dashboard__content {
  padding: 28px 0;
}

.dashboard__title {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}


@media only screen and (max-width : 768px) {
  .dashboard {
    padding: 0 20px;
  }
}
