.dashboard .dashboard__logo {
  font-family: 'Rochester', cursive;
  font-size: 36px;
}

.dashboard .dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  text-align: center;
}

.dashboard .dashboard__footer {
  background: white;
  text-align: center;
}

.dashboard .dashboard__content {
  padding: 28px 50px;
  background: white;
}

.dashboard__title {
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width : 768px) {
  .dashboard .dashboard__header,
  .dashboard .dashboard__content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
