.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}

.header .header__logo {
  font-family: 'Rochester', cursive;
  text-decoration: none;
  font-size: 36px;
}
