.list-view__title {
  font-size: 36px;
  margin: 44px 0;
}

.list-view__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-view__subtitle {

}

.list-view__list {

}

.list-view__list-item {

}
