.list-view__title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1;
  margin: 28px 0 8px;
}

.list-view__container {
  padding: 0 20px;
  max-width: 768px;
  margin: 0 auto;
}

.list-view__search {
  border: 0 none;
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  background: #fafafa;
  border-top: 1px solid #f0f0f0;
}

.list-view__container.list-view__container--no-gutter {
  padding: 0;
}

.list-view__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-view__item {
  border-bottom: 1px solid #f0f0f0;
}

.list-view__item a {
  display: block;
  padding: 8px 20px 8px;
}

.list-view__item:active a {
  background: #fafafa;
}

.list-view__item:first-child {
  border-top: 1px solid #f0f0f0;
}

.list-view__item-title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-view__item-description {
  margin: 0 0 4px;
  color: #888;
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
