.recipe-form .recipe-form__title {
  display: flex;
  justify-content: space-between;
}

.recipe-form__actions {
  height: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.recipe-form__autosave {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.recipe-form .recipe-form__step-count {
  font-size: 16px;
  padding: 4px 8px 0 0;
}

.recipe-form .recipe-form__action {
  margin-left: 8px;
  flex: 0 0 32px;
}

.recipe-form .ant-select-auto-complete.ant-select .ant-select-selection--single {
  height: 40px;
}
