.single-view__title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1;
  margin: 28px 0 8px;
}

.single-view__subtitle {
  font-weight: 300;
}

.single-view__container {
  padding: 0 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.single-view__ingredients-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.single-view__amount {
  font-weight: 200;
  font-size: 20px;
  margin-right: 8px;
}

.single-view__directions-list {
  padding: 0 0 0 20px;
  margin: 0 0 20px;
}

.single-view__list-item {
  font-size: 15px;
  letter-spacing: 0.5px;
}
