.dashboard .dashboard__logo {
  font-family: 'Rochester', cursive;
  font-size: 36px;
}

.dashboard .dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  text-align: center;
}

.dashboard__header-space {
  width: 40px;
}

.dashboard .dashboard__footer {
  background: white;
  text-align: center;
}

.dashboard  .dashboard__content {
  padding: 28px 50px;
  background: white;
}
