/* Global styles */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

/* Revert outline from ant design */
:focus {
  outline: 1px solid #8ac7ff;
}

input,
select,
textarea,
.ant-input,
.ant-input-number-input,
.ant-select-selection-search-input,
.ant-select-selection-item,
.ant-select-selection-placeholder {
  font-size: 16px !important;
}
